# Python
__pycache__/
**pycache**/
.pytest_cache/
.ipynb_checkpoints/
*.pyc
*.pyo

# Local Python Runtime Distributions
python311/

# Virtual environments
venv/
venv311/
env/

# Data (NEVER commit datasets)
data/
*.csv

# Models
*.h5

# Evaluation results
evaluation_results/

# Logs & Dumps
*.log
log*.txt
log.txt
logs/
checkpoints/

# OS
.DS_Store
Thumbs.db

# TensorFlow / cache
*.tmp
.cache/

# Streamlit
.streamlit/